* {
    user-select: none;
}

#main {
    text-align: center;
    display: block;
    width: auto;
    height: 5px;
    border: 1px solid black;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

#spielstandTeam1 {
    border: 2px solid #0059ff;
    color: #fff;
    background: -webkit-repeating-linear-gradient(-45deg, #2e2ed2, #1919e6, #0000ff, #1919e6, #2e2ed2);
}

#spielstandTeam2 {
    border: 2px solid #19e619;
    color: #fff;
    background: -webkit-repeating-linear-gradient(-45deg, #00ff00, #19e619, #2ed22e, #19e619, #00ff00);
}

.box {
    float: left;
    width: 32%;
    margin-right: 2%;
    padding: 20px;
    background: #eee;
    box-sizing: border-box;
    padding: 10px 25px;
    border-radius: 25px;
}

.box:last-child {
    margin-right: 0;
}

.button {
    float: left;
    width: 32%;
    margin-right: 2%;
    padding: 20px;
    box-sizing: border-box;
    padding: 10px 25px;
    border-radius: 25px;
    transition: all 0.3s ease;
}

.button:last-child {
    margin-right: 0;
}

#falsch {
    border: 2px solid #b63636;
    color: #b63636;
}

#falsch:hover {
    background: #b63636;
    color: #fff;
}

#überspringen {
    border: 2px solid #cbce13;
    color: #cbce13;

}

#überspringen:hover {
    background: #cbce13;
    color: #fff;
}

#richtig {
    border: 2px solid #5baa58;
    color: #5baa58;

}

#richtig:hover {
    background: #5baa58;
    color: #fff;
}

#foot {
    width: auto;
    height: 100px;
    background-color: violet;
    margin-top: 200px;

    grid-column: 1 / 4;
    grid-row: 4;
}

/* Timer */
#timer {
    background: -webkit-repeating-linear-gradient(-45deg, #e60707, #ff9900, #74e707, #03f38f, #00c3ff, #0314fd, #ff0195);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.25);
    animation: animate 5s ease-in-out infinite;
    background-clip: text;
}


@keyframes animate {
    0% {
        background-position: 0 0;
    }

    25% {
        background-position: 100% 0;
    }

    50% {
        background-position: 100% 100%;
    }

    75% {
        background-position: 0% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}