#main {
    text-align: center;
    display: block;
    width: auto;
    height: 5px;
    border: 1px solid black;
}

.box {
    float: left;
    width: 32%;
    margin-right: 2%;
    padding: 20px;
    background: #eee;
    box-sizing: border-box;
}

.box:last-child {
    margin-right: 0;
}

.button {
    float: left;
    width: 32%;
    margin-right: 2%;
    padding: 20px;
    background: #eee;
    box-sizing: border-box;
}

.button:last-child {
    margin-right: 0;
}

#foot {
    width: auto;
    height: 100px;
    background-color: violet;
    margin-top: 200px;
}


/* Timer */