@import url(https://fonts.googleapis.com/css2?family=Audiowide&display=swap);


* {
  box-sizing: border-box;
  margin: 0;
}

html {
  block-size: 100%;
  background: conic-gradient(at -10%, at 50%, #ff1493, #0ff);
  background: conic-gradient(at -10% 50%, #ff1493, #0ff);
}

@media (prefers-color-scheme: dark) {
  html {
    background: conic-gradient(at -10%, at 50%, #212529, 50%, #495057, #212529);
    background: conic-gradient(at -10% 50%, #212529, 50%, #495057, #212529);
  }
}

body {
  min-block-size: 100%;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif;
  display: grid;
  align-content: center;
  justify-content: center;
  place-content: center;
}

body {
  perspective: 40vw;
}

.threeD-button-set {
  --distance: 1px;
  --theme: hsl(180 100% 50%);
  --theme-bg: hsl(180 100% 50% / 25%);
  --theme-bg-hover: hsl(180 100% 50% / 40%);
  --theme-text: white;
  --theme-shadow: hsl(180 100% 10% / 25%);
  --_max-rotateY: 10deg;
  --_max-rotateX: 15deg;
  --_btn-bg: var(--theme-bg);
  --_btn-bg-hover: var(--theme-bg-hover);
  --_btn-text: var(--theme-text);
  --_btn-text-shadow: var(--theme-shadow);
  --_bounce-ease: cubic-bezier(0.5, 1.75, 0.75, 1.25);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5vh;
  transform-style: preserve-3d;
  transform: rotateY(clamp(calc(var(--_max-rotateY) * -1), var(--y), var(--_max-rotateY))) rotateX(clamp(calc(var(--_max-rotateX) * -1), var(--x), var(--_max-rotateX)));

  &:focus {
    outline: 0;
  }

  li {
    display: inline-flex;
    position: relative;
    transform-style: preserve-3d;
  }

  button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    background-color: var(--_btn-bg);
    color: var(--_btn-text);
    text-shadow: 0 1px 1px var(--_btn-text-shadow);
    font-size: min(5vmin, 3rem);
    font-family: Audiowide;
    padding-block: 0.75ch;
    padding-inline: 2ch;
    border-radius: 5px 20px;
    transform: translateZ(var(--distance));
    transform-style: preserve-3d;

    
    &:is(:hover, :focus-visible):not(:active) {
      --distance: 15px;
      background-color: var(--_btn-bg-hover);
    }

    &::after {
      content: "";
      opacity: 0.8;
      position: absolute;
      inset: 0;
      border: 1px solid var(--theme);
      border-radius: 5px 20px;
      transform: translateZ(calc(var(--distance) / 3));
    }

    &::before {
      content: "";
      opacity: 0.8;
      position: absolute;
      inset: 0;
      border: 1px solid var(--theme);
      border-radius: 5px 20px;
      transform: translateZ(calc(var(--distance) / 3));
      border-width: 3px;
      transform: translateZ(calc(var(--distance) / 3 * -1));
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .threeD-button-set {
    will-change: transform;
    transition: transform 0.1s ease;
    animation: rotate-y 5s ease-in-out infinite;
  }
}

@media (prefers-color-scheme: dark) {
  .threeD-button-set {
    --theme: rgb(214, 201, 26);
    --theme-bg: rgba(220, 215, 142, 0.25);
    --theme-bg-hover: rgba(195, 159, 60, 0.4);
    --theme-shadow: rgba(39, 27, 12, 0.25);
  }
}

@media (dynamic-range: high) {
  @supports (color: color(display-p3 0 0 0)) {
    .threeD-button-set {
      --theme: color(display-p3 0.4 0 0.9);
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .threeD-button-set button:is(:hover, :focus-visible):not(:active) {
    --distance: 3vmax;
    transition-timing-function: var(--_bounce-ease);
    transition-duration: 0.4s;

    &::after {
      transition-duration: 0.5s;
    }

    &::before {
      transition-duration: 0.3s;
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .threeD-button-set button {

    &::after,
    &::before {
      transition: transform 0.1s ease-out;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .threeD-button-set button::before {
    box-shadow: 0 0 25px var(--theme), inset 0 0 25px var(--theme);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .threeD-button-set button {
    will-change: transform;
    transition: transform 0.2s ease, background-color 0.5s ease;
  }
}

@keyframes octocat-wave {

  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@keyframes rotate-y {
  50% {
    transform: rotateY(15deg) rotateX(-6deg);
  }
}