$card_accent_color: #45e3ff;
$start_btn_color: #5afc72;
$settings_btn_color: #cdff45;
$info_btn_color: #ffff45;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    display: flex;
    background: #333;
    overflow: hidden;
}

.body {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;

    .card {
        position: relative;
        width: 300px;
        height: 250px;
        background: #333;
        transition: 0.5s;

        .lines {
            z-index: 0;
            position: absolute;
            inset: 0;
            background: #000;
            overflow: hidden;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 200%;
                height: 100px;
                transform: translate(-50%, -50%);
                background: $card_accent_color;
                animation: animation 8s linear infinite;
            }

            &::after {
                content: "";
                position: absolute;
                inset: 2px;
                background: #292929;
            }
        }

        .content {
            position: absolute;
            padding: 20px;
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

/* ##################################################################### */
.button {
    display: flex;
    flex-direction: row;
    padding: 10px 45px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: black;
    background: #6225e6;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    margin-bottom: 30px;
    transform: skewX(-15deg);
    width: 200px;

    &:focus {
        outline: none;
    }

    &:active {
        transition: s;
        box-shadow: 10px 10px 0 #fbc638;
    }

    span {
        transform: skewX(15deg);
    }

    span:nth-child(2) {
        width: 20px;
        margin-left: 65px;
        position: relative;
        top: 12%;
    }

    &:first-child {
        margin-top: 20;
    }

    &:active path.one {
        transform: translateX(0%);
        animation: color_anim 1s infinite 0.6s;
    }
}

#start_btn {
    background-color: $start_btn_color;
}

#settings_btn {
    background-color: $settings_btn_color;

    & span:nth-child(2) {
        width: 20px;
        margin-left: 5%;
        position: relative;
        top: 12%;
    }
}

#info_btn {
    background-color: $info_btn_color;
}

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #FBC638;
    }
    100% {
        fill: white;
    }
}